<%- include('./partials/base') %>
<%- include('./partials/header') %>
<div class="container">
    <h1>Welcome to Boomerang</h1>
    <% if (user) { %>
    <a href="/questions/new">
        <p>Ask away, it will come back...</p>
    </a>
    <% } %>
</div>
<%- include('./partials/footer') %>