<%- include('../partials/base') %>
<%- include('../partials/header') %>
    <div class="container">
        <form action="/questions/add" method="POST">
            <div class="form-group">
                <input class="form-control mx-1" type="text" name="questionTitle" maxlength="60" placeholder="Title" required>
                <textarea class="form-control mx-1" type="text" name="questionBody" maxlength="200" placeholder="Question" required></textarea>
                
                <div class="topic">
                    <label for="topic">Topic:</label>
                    <select id="topic" name="topic" class="selectpicker" data-live-search="true" multiple>
                        <option value="art">art</option>
                        <option value="education">education</option>
                        <option value="entertainment">entertainment</option>
                        <option value="finance">finance</option>
                        <option value="food">food</option>
                        <option value="game">game</option>
                        <option value="health">health</option>
                        <option value="lifestyle">lifestyle</option>
                        <option value="politics">politics</option>
                        <option value="shopping">shopping</option>
                        <option value="sports">sports</option>
                        <option value="travel">travel</option>
                    </select>
                </div>

                <input class="btn btn-primary mx-2" type="submit" value="Post Question">
            </div>
        </form>
    </div>

<%- include('../partials/footer') %>